.AdsGrid {
    width: 100%;
}

.AdsGrid .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 60px;
    column-gap: 20px;
    row-gap: 15px;
}

@media (max-width: 768px) {
    .AdsGrid .wrap {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .AdsGrid .wrap {
        grid-template-columns: 1fr;
    }
}