.Header {
    width: 100%;
    min-height: 80px;
    background-color: darkslateblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}