.Ad {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
    overflow: auto;
}

.Ad .image {
    height: 40%;
    width: 100%;
    background-color: aliceblue;
    background-image: url('../../assets/default.jpg');
    background-position: center;
}

.Ad .details {
    height: 60%;
    width: 100%;
    text-align: center;
    font-weight: 700;
}