.Footer {
    width: 100%;
    min-height: 150px;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Footer h2,
.Footer h3 {
    margin: 0px;
}