.Login {
    width: 400px;
    z-index: 2;
}

.Login h2 {
    text-align: center;
    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form>*:not(:first-child) {
    margin-top: 16px;
}

.form label {
    font-size: 22px;
}

.form input {
    width: 100%;
    border: none;
    padding: 10px;
    background: transparent;
    font-size: 20px;
    color: lightyellow;
    border-bottom: 2px solid lightgoldenrodyellow;
}

.form input:invalid {
    box-shadow: none;
}

.form input:focus {
    outline: none;
}

.form .btn {
    background-color: darkslategray;
    width: 100%;
    border: none;
    color: lightyellow;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    opacity: .7;
    transition: all .3s ease-out;
}

.form .btn:hover {
    opacity: 1;
}